# Copy this file to .env and fill in your values.
# Never commit .env to source control.

POSTGRES_DB=nodeapp
POSTGRES_USER=nodeapp
POSTGRES_PASSWORD=changeme

DATABASE_URL=postgresql://dbpath/neondb?channel_binding=require&sslmode=require
REDIS_URL=redis://redis:6379

USER_SERVICE_URL=http://user-service:3001
PRODUCT_SERVICE_URL=http://product-service:3002

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=changeme
